* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url(Backgrounds/background_5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 40px;
    padding-right: 5px;
    height: 100vh;
}

.flex {
    display: flex
}

.but {
    background: #8360c3;  
    background: -webkit-linear-gradient(to bottom, #2ebf91, hsl(261, 45%, 57%));
    background: linear-gradient(to bottom, #2ebf91, #8360c3); 
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    transition: hover ease-in-out 1s;
}

.div-logo {
    width: max-content;
    align-items: center;
}

.logo {
    width: 25px;
    height: 30px;
}

.name {
    font-weight: 1000;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#2ebf91, hsl(261, 45%, 57%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav {
    justify-content: space-between;
    padding: 10px 0;
}

.nav-items {
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: calc(0.03* 100vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.nav-item > a{
    color: white;
    text-decoration: none;
}

.main-text-container {
    width: 60%;
    margin-right: auto;
    height: 80%;
    align-items: center;
    margin-left: 40px;;
}

.main-text {
    color: white;
    font-family:'Montserrat', sans-serif;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 40px;
    height: fit-content;
}

.explore {
    margin-bottom: 40px;
}

.lorem {
    font-size: smaller;
    font-weight: 300;
    margin-bottom: 40px;
}

.but-start {
    font-family:'Montserrat', sans-serif;
    padding: 0.7rem;
}

.but:hover {
    background: -webkit-linear-gradient(to left, #2ebf91, hsl(261, 45%, 57%));
    background: linear-gradient(to left, #2ebf91, #8360c3); 
}

