* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url(Backgrounds/background_4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 40px;
    padding-right: 5px;;
}

.flex {
    display: flex
}

.but {
    background: #8360c3;  
    background: -webkit-linear-gradient(to right, #2ebf91, hsl(261, 45%, 57%));
    background: linear-gradient(to right, #2ebf91, #8360c3); 
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    transition: hover ease-in-out 1s;
}

.div-logo {
    width: max-content;
    align-items: center;
}

.logo {
    width: 25px;
    height: 30px;
}

.name {
    font-weight: 1000;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#2ebf91, hsl(261, 45%, 57%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav {
    justify-content: space-between;
}

.nav-items {
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: calc(0.04 * 100vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: small;
}

.nav-item > a{
    color: white;
    text-decoration: none;
}

.main-text {
    color: white;
    font-family:'Montserrat', sans-serif;
    width: 60%;
    max-width: 600px;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 40px;
}

.explore {
    margin-bottom: 20px;
}

.lorem {
    font-size: smaller;
    font-weight: 300;
    margin-bottom: 20px;
}

.but-start {
    font-family:'Montserrat', sans-serif;
    padding: 0.7rem;
}

.but:hover {
    background: -webkit-linear-gradient(to left, #2ebf91, hsl(261, 45%, 57%));
    background: linear-gradient(to left, #2ebf91, #8360c3); 
}

